/*<======header开始======>*/
/*CSS全局变量的使用*/
:root{
  --height:100px;
}
.header{
  /*固定定位*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /*必须加宽度100%*/

 /* height: 100px;*/
  height: var(--height); /*CSS全局变量的使用*/
  background-color: #fff;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.logo{
  width: 195px;
  height: 41px;
  --background-color: pink;
}

.header .wrapper{
  display: flex;
  padding-top: 29px;
  /*padding-bottom: 30px;*/
}

.logo a{
  display: block;
  height: 41px;
  background-image: url('../imgs/logo.png');
  font-size: 0;  /*隐藏a标签中的文字*/
}

/*====导航开始====*/
.nav{
  margin-left: 102px;
}

.nav ul{
  display: flex;
}
.nav li{
  height: 41px;
  margin-right: 20px;
}

.nav li:last-child{
  margin-right: 0;
}

.nav li a{
  display: block;
  padding: 6px 8px;

  font-size: 19px;
}

.nav li a.active{
  border-bottom: 2px solid #00a4ff ;
}

.nav li a:hover{
  border-bottom: 2px solid #00a4ff ;
}
/*====导航结束====*/

/*====搜索开始====*/
.search{
  position: relative;
  width: 412px;
  height: 40px;
  --background-color: pink;
  margin-left: calc(96px - 8px);
}

.search input{
  width: 100%;
  height: 100%; /*高40px*/
  background-color: #f3f5f7;
  border-radius: 20px; /*圆角是高的一半*/
  color: #999;
  padding-left: 19px;
  padding-right: 35px;
}

.search span{
  position: absolute;
  left:384px;
  top:12px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("../imgs/btn-search.png") no-repeat center/cover;
}

/*====搜索结束====*/

/*====用户开始====*/
.user{
  margin-left: 32px;
}
.user a{
  display: flex;
  margin-top: 4px;
  height: 30px;
}

.user img{
  width: 30px;
  border-radius: 50%;
}

.user span{
  margin-left:7px;
  align-self: center;
  font-size: 16px;
  #color: #666;
  height: 23px;
  line-height: 23px;
}
/*====用户结束====*/
/*======header结束======*/

/*======banner开始======*/
.banner{
  background-color: #0092cb;
  margin-top: var(--height); /*CSS全局变量的使用*/
}

.banner .wrapper{
  display: flex;
  /*主轴对齐方式*/
  justify-content: space-between;
  /*侧轴对齐方式*/
 /* align-items: center;*/
  height: 420px;
  background: url(../uploads/banner.png) no-repeat center /contain;
}

.banner .left{
  width: 191px;
  background-color: rgba(0,0,0,.42);
}

.banner .right{
  width: 218px;
  height: 305px;
  align-self: center;
  background-color: green;
  margin-top: 2px;
}

.banner .sidebar{
  padding: 3px 0;
}

.banner .sidebar a{
  position: relative;
  display: block;
  padding:0 20px;
  height: 46px;
  line-height: 46px;
  color: #fff;
}

.banner .sidebar a:hover{
  color: #00a4ff;
  background-color:rgba(0,0,0,.3);
}

.banner .sidebar a.active{
  color: #00a4ff;
}

.banner .sidebar a::after{
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background:url("../imgs/right-arrow.png") no-repeat center;
}

.banner .sidebar a.active::after{
  background:url("../imgs/right-arrow-active.png") no-repeat center;
}

.banner .sidebar a:hover::after{
  background:url("../imgs/right-arrow-active.png") no-repeat center;
}

/*====右侧课程开始====*/
.banner .right{
  width: 218px;
  height: 305px;
  border-radius: 10px;
  background-color: #209dd5;
  padding-top:18px;
}

.banner .right h3{
  height: 31px;
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 9px;
}

.banner .content{
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
  padding: 3px 14px 14px 14px;
}

.banner .content dl{
  padding-top:11px;
}

.banner .content dt{
  font-weight: 700;
  width: 190px;
  height: 20px;
  color:#333;
  font-size: 14px;
}

.banner .content dd{
  padding:8px 0;
  width: 190px;
  height: calc(17px + 8px + 8px); /*因为设置了box-size:border-box;*/
  color: #00a4ff;
  font-size: 12px;
  border-bottom: 2px solid #e0e0e0; /*边框给DL标签最合适*/
}

.banner .content span{
  color: #7d7d7d;
}

.banner .content a{
  display: block;
  margin-top: 14px;
  text-align: center;
  width:190px;
  height:32px;
  line-height: 32px;
  background-color: #00a4ff;
  border-radius: 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer ;
}

.banner .content a:hover{
  background-color: #0D98E5;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}
/*====右侧课程结束====*/
/*<======banner结束======>*/

/*<======recommend 精品推荐开始======>*/
.recommend{
  padding-left:3px;
  margin-top:10px;
}
.recommend .wrapper{
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding:17px 20px 18px 18px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px
  rgba(211, 211, 211, 0.5);
}

.recommend h3{
  font-size: 18px;
  width: 72px;
  height: 25px;
  color:#00a4ff;
}

.recommend ul{
  display: flex;
  flex: 1;
  align-items: center;
  height: 25px;
  margin-left: 20px;
}

.recommend ul a{
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
  font-size: 18px;
  color: #333;
}

.recommend ul a:hover{
  color:#00a4ff;
}

.recommend ul li:first-child a{
  padding-left:0;
}

.recommend ul li:last-child a{
  border-right:0;
}

.recommend .modify{
  font-size: 16px;
  color: #00a4ff;
  --margin-left: 73px;
}
/*<======recommend 精品推荐结束======>*/

/*<======course课程模块开始======>*/
.course{
  margin-top: 31px;
}

.hd{
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hd h3{
  font-size: 21px;
  color: #333;
}

/*
.course .hd a
*/
.hd .all{
  height: 20px;
  font-size: 14px;
  color: #999;
}

.course .bd ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course .bd ul li{
  width:228px;
  height: 271px;
  background-color: #f9fafb;
 /* margin-right: 15px;*/
  margin-bottom:13.5px;
  transition: 0.3s;
}

.course .bd li:hover{
  box-shadow: 5px 5px 2px 0px
  rgba(211, 211, 211, 0.5);
}

.course .bd ul>li>a{
  display: block;
  height: 100%;
}

/*.course .bd ul li:nth-child(5n+5){
  margin-right: 0;
}*/

/*倒数后5个的表示方式*/
.course .bd ul li:nth-last-child(-n+5){
  margin-bottom: 0;
}

.course .bd img{
  height: 156px;
}

.course .bd h4{
  /*这里h4标签的高度给加了 16px,取消了margin-bottom
  就是为了防止字太多,如果出现3行,则不会影响下面的高度
  */
  height: calc(37px + 16px);
  margin:20px 20px 0 20px;
  font-size: 14px;
  color: #333;
  /*h4为什么高度要设置这么高,因为里面的内容可能会换行*/
}

.course .bd p{
  padding:0 20px;
  line-height: 20px;
  font-size: 14px;
  color: #999;
}

.course .bd p .high{
  color: #fa6400;
}
/*<======course课程模块结束======>*/

/*<======frontend,Python模块开始======>*/
.common-course{
  margin-top: 32px;
}

.sub-nav{
  display: flex;
  --background-color: pink;
  height: 23px;
}

.sub-nav li{
  margin-right: 60px;
}

.sub-nav li:last-child{
  margin-right: 0;
}

.sub-nav a{
  font-size: 16px;
  color: #333;
}

.sub-nav a.active{
  color: #00a4ff;
}

.sub-nav a:hover{
  color: #00a4ff;
}

.common-course .bd{
  display: flex;
  justify-content: space-between;
}

.common-course .bd .left{
  width: 228px;
  height: 386px;
  background-color: pink;
}

.common-course .bd .right{
  /*flex: 1;*/
  width: 957px;
  /*background-color: purple;*/
}

.common-course .bd .right .top{
  height: 100px;
  margin-bottom: 15px;
}

.common-course .bd .bottom ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.common-course .bd .bottom ul li{
  width:228px;
  height: 271px;
  background-color: #f9fafb;
  /* margin-right: 15px;*/
  transition: 0.3s;
}

.common-course .bd .bottom li:hover{
  box-shadow: 5px 5px 2px 0px
  rgba(211, 211, 211, 0.5);
}

.common-course .bd .bottom ul>li>a{
  display: block;
  height: 100%;
}

.common-course .bd .bottom img{
  height: 156px;
}

.common-course .bd .bottom h4{
  /*这里h4标签的高度给加了 16px,取消了margin-bottom
  就是为了防止字太多,如果出现3行,则不会影响下面的高度
  */
  height: calc(37px + 16px);
  margin:20px 20px 0 20px;
  font-size: 14px;
  color: #333;
  /*h4为什么高度要设置这么高,因为里面的内容可能会换行*/
}

.common-course .bd .bottom p{
  padding:0 20px;
  line-height: 20px;
  font-size: 14px;
  color: #999;
}

/*.common-course .bd .bottom p .high{
  color: #fa6400;
}*/
/*<======frontend模块结束======>*/

/*<======人工智能模块开始======>*/
.common-course .bd ul.artificial-intelligence{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.common-course .bd ul.artificial-intelligence li{
  width:228px;
  height: 271px;
  background-color: #f9fafb;
  /* margin-right: 15px;*/
  transition: 0.3s;
}

.common-course .bd ul.artificial-intelligence li:hover{
  box-shadow: 5px 5px 2px 0px
  rgba(211, 211, 211, 0.5);
}

.common-course .bd ul.artificial-intelligence>li>a{
  display: block;
  height: 100%;
}

.common-course .bd ul.artificial-intelligence img{
  height: 156px;
}

.common-course .bd ul.artificial-intelligence h4{
  /*这里h4标签的高度给加了 16px,取消了margin-bottom
  就是为了防止字太多,如果出现3行,则不会影响下面的高度
  */
  height: calc(37px + 16px);
  margin:20px 20px 0 20px;
  font-size: 14px;
  color: #333;
  /*h4为什么高度要设置这么高,因为里面的内容可能会换行*/
}

.common-course .bd ul.artificial-intelligence p{
  padding:0 20px;
  line-height: 20px;
  font-size: 14px;
  color: #999;
}

.common-course .bd p .high{
  color: #fa6400;
}
/*<======人工智能模块结束======>*/

/*<======J2EE模块开始======>*/
.common-course .bd ul.j2ee{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.common-course .bd ul.j2ee li{
  width:228px;
  height: 271px;
  background-color: #f9fafb;
  /* margin-right: 15px;*/
  transition: 0.3s;
}

.common-course .bd ul.j2ee li:hover{
  box-shadow: 5px 5px 2px 0px
  rgba(211, 211, 211, 0.5);
}

.common-course .bd ul.j2ee>li>a{
  display: block;
  height: 100%;
}

.common-course .bd ul.j2ee img{
  height: 156px;
}

.common-course .bd ul.j2ee h4{
  /*这里h4标签的高度给加了 16px,取消了margin-bottom
  就是为了防止字太多,如果出现3行,则不会影响下面的高度
  */
  height: calc(37px + 16px);
  margin:20px 20px 0 20px;
  font-size: 14px;
  color: #333;
  /*h4为什么高度要设置这么高,因为里面的内容可能会换行*/
}

.common-course .bd ul.j2ee p{
  padding:0 20px;
  line-height: 20px;
  font-size: 14px;
  color: #999;
}


.common-course:last-of-type{
  padding-bottom: 60px;
}

/*
注意:这里不能使用.common-course:last-child
这句话的意思是 最后一个标签的样式必须是 .common-course 才使用该样式

但是如果在webstorm下运行, 会在最底下产生一个script,所以不会生效,但是本地访问会生效,不在服务器中运行.

另外,如果手动在后面随便加一个标签比如p,那么该样式同样不会生效
*/
/*.common-course:last-child{
  padding-bottom: 360px;
}*/
/*<======J2EE模块结束======>*/


/*<======底部盒子 开始======>*/
.footer{
  padding-top: 60px;
  margin-top: 60px;
  height: 273px;
  background-color: #fff;
}

.footer .wrapper{
  display:flex;
  justify-content: space-between;
}

/*
.footer .left{
  background-color: pink;
}*/

.footer .f-logo{
  display: block;
  width: 195px;
  height: 41px;
  background-image: url("../imgs/logo.png");
}

.footer p{
  width: 432px;
  height: 33px;
  /*注意:多行文字就要涉及到行高了*/
  line-height: 17px;
  font-size: 12px;
  color: #666;
  margin-top: 24px;
}

.footer .app{
  display: block;
  width: 120px;
  height: 36px;
  border: solid 1px #00a4ff;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: #00a4ff;
  margin-top: 14px;
}

.footer .app:hover{
  color:#fff;
  background-color: #00a4ff;
}

.footer .right{
  display: flex;
  justify-content: flex-end;
}

.footer dl{
  margin-left: 130px;
}

.footer dl:first-of-type{
  margin-left: 0px;
}

.footer .right dt{
  font-size: 16px;
  line-height: 23px;
  color: #333;
  font-weight: normal;
  height: 23px;
  margin-bottom: 12px;
}


.footer .right dd{
  height: 24px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;

}

.footer .right dd a{
  display: block;
  color: #666;
}

.footer .right dd a:hover{
  color: #00a4ff;
}
/*<======底部盒子 结束======>*/

/*<======侧边栏 开始======>*/
.fix-sidebar{
  position: fixed;
  /*固定定位垂直居中*/
 /* bottom:50%;
  transform: translateY(50%);*/

  top:50%;
  transform:translateY(-50%);
  right: 0;
  width:50px;
  height: 300px;
  background-color: pink;

}
/*<======侧边栏 结束======>*/
